#organizers .probootstrap-block-image .text {
	padding: 0;
}

#organizers img {
	width: 100%;
}

#organizers .probootstrap-block-image  {
	background-color: transparent;
}

.probootstrap-footer {
	background-color: white;
}